
    <span class="hero-list-header">Listado de héroes</span>
    <div class="hero-list-actions">
      <button mat-fab color="primary" class="hero-list-add" (click)="addHero()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

        <mat-card>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let hero"> {{ hero.name}} </td>
        </ng-container>

        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef> Poder </th>
          <td mat-cell *matCellDef="let hero"> {{ hero.power }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let hero">
            
            <button mat-flat-button aria-label="Example icon button with a heart icon" color="primary" (click)="editHero(hero)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-flat-button aria-label="Example icon button with a delete icon" color="warn" (click)="deleteHero(hero)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   
  </mat-card>