<span class="hero-list-header">Listado de héroes</span>
<app-search-bar (searchEvent)="applyFilter($event)" placeholder="Buscar Heroe"></app-search-bar>
<div class="hero-list-actions">
  <button mat-fab color="primary" class="hero-list-add" (click)="addHero()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let hero"> {{ hero.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let hero"> {{ hero.name}} </td>
    </ng-container>

    <ng-container matColumnDef="power">
      <th mat-header-cell *matHeaderCellDef> Poder / Habilidad </th>
      <td mat-cell *matCellDef="let hero"> {{ hero.power }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let hero" class="hero-row-actions">

        <button mat-flat-button aria-label="Editar heroe" color="primary" (click)="editHero(hero)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button aria-label="Eliminar heroe" color="warn" (click)="deleteHero(hero)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" itemsPerPageLabel="Héroes por página" aria-label="Seleccionar pagina">
  </mat-paginator>
</mat-card>